body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.filter{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #D4CCC5;
}
.input-group{
	margin-bottom: 20px;
}
