<div class="control-group">
  <label class="control-label">Username</label>
  <div class="controls">
    <input type="text" name="username" placeholder="Username"
      value="<%= user.username || '' %>"
      autocomplete="off"
      pattern="\S{4,}"
      title="Minimum of 4 characters, no white space"
    >
  </div>
</div>
<!-- <div class="g_password btn btn-small btn-success pull-right">Generate Password</div> -->
<div class="control-group">
  <label class="control-label">Password</label>
  <div class="controls">
<%  var chars = "ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
  var string_length = 8;
  var randomstring = '';
  var charCount = 0;
  var numCount = 0;

  for (var i=0; i<string_length; i++) {
      // If random bit is 0, there are less than 3 digits already saved, and there are not already 5 characters saved, generate a numeric value. 
      if((Math.floor(Math.random() * 2) == 0) && numCount < 3 || charCount >= 5) {
          var rnum = Math.floor(Math.random() * 10);
          randomstring += rnum;
          numCount += 1;
      } else {
          // If any of the above criteria fail, go ahead and generate an alpha character from the chars string
          var rnum = Math.floor(Math.random() * chars.length);
          randomstring += chars.substring(rnum,rnum+1);
          charCount += 1;
      }
  }
 

 %>
    <input type="text" name="password" placeholder="Password"
      value="<%= randomstring || '' %>"
      required
    >
    <div class="g_password btn btn-small btn-warning">Generate Password</div>
  </div>
</div>
<div class="control-group">
  <label class="control-label">First Name</label>
  <div class="controls">
    <input type="text" name="firstname" placeholder="First Name"
      value="<%= user.firstname || '' %>"
      required
    >
  </div>
</div>
<div class="control-group">
  <label class="control-label">Last Name</label>
  <div class="controls">
    <input type="text" name="lastname" placeholder="Last Name"
      value="<%= user.lastname || '' %>"
      required
    >
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <button type="submit" class="save btn btn-small btn-success">Save user</button>
  </div>
</div>
