<% layout('../layout.html') %>
<% block('title', 'Home') %>
<% block('subtitle', 'This is a locomotive-sequelize-boilerplate.') %>
<a href="/users" class="btn btn-primary btn-large">
  Show me users!
</a>
