<div class="control-group">
  <label class="control-label">Domain</label>
  <div class="controls">
    <input type="text" name="username" placeholder="domain"
      value="<%= domain.domainname || '' %>"
      autocomplete="off"
      pattern="\S{4,}"
      title="Minimum of 4 characters, no white space"
    >
  </div>
</div>
<div class="control-group">
  <label class="control-label">Password</label>
  <div class="controls">
    <input type="password" name="password" placeholder="Password"
      value="<%= domain.password || '' %>"
      required
    >
  </div>
</div>
<div class="control-group">
  <label class="control-label">First Name</label>
  <div class="controls">
    <input type="text" name="firstname" placeholder="First Name"
      value="<%= domain.firstname || '' %>"
      required
    >
  </div>
</div>
<div class="control-group">
  <label class="control-label">Last Name</label>
  <div class="controls">
    <input type="text" name="lastname" placeholder="Last Name"
      value="<%= domain.lastname || '' %>"
      required
    >
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn">Save user</button>
  </div>
</div>
