<html>
<head><!--Stylesheets-->
	<link href="/stylesheets/fonts/pacifico/stylesheet.css" rel="stylesheet" type="text/css" />
   <link href="/stylesheets/login.css" rel="stylesheet">

</head>

<body>
	<div class="heading">
<!-- Cyber Intranet Login -->
</div>
<div id="wrapper">
<div class="user-icon"></div>
<div class="pass-icon"></div>

<form class="login-form" name="login-form" action="" method="post" autocomplete="off">

<div class="header">
<h1>Login</h1>
<span>Please enter the password to login into the cyber intranet!</span>
</div>

<div class="content">
	<input class="input username" name="username" type="text" placeholder="Username" />
	<input class="input password" name="password" type="password" placeholder="Password" />
</div>

<div class="footer">
<input type="submit" name="submit" value="Login"  class="button"/>

</div>

 
</form>

 
</div>
 
<!-- <div class="gradient"></div> -->
</body>
<!--Scripts-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
$(".username").focus(function() {
$(".user-icon").css("left","-48px");
});
$(".username").blur(function() {
$(".user-icon").css("left","0px");
});
 
$(".password").focus(function() {
$(".pass-icon").css("left","-48px");
});
$(".password").blur(function() {
$(".pass-icon").css("left","0px");
});
});
</script>
</html>