<!DOCTYPE html>
<html>
  <head>
    <title>locomotive-sequelize-boilerplate</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1><%- blocks.title %></h1>
        <p><%- blocks.subtitle %></p>
      </div>
      <%- body %>
    </div>
  </body>
</html>
